.about {
  cursor: pointer;
  /* background-color: black; */
  background-image: linear-gradient(to bottom right, #19191b, black);
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 15px 15px 0 0;
}
.about h1 {
  padding: 10px 0;
  margin-bottom: 20px;
  color: #20b2aa;
}
.about .lead {
  color: #20b2aa;
  font-size: medium;
  width: 90%;
  margin-left: -60px;
}

.sectionleft {
  display: flex;
}
.right {
  margin-top: -30px;
  position: absolute;
  right: 4%;
  width: 200px;
}
@media (max-width: 500px) {
  .about .lead {
    margin-left: 0px;
  }
  .right {
    margin-top: -80px;
    max-width: 100px;
    right: 5px;
  }
}
